<footer>
  <aside class="left">
    <label>
      <strong>Ultimate Champion Creator
        <i class="fa-solid fa-circle-info" style="font-size: 1rem" (click)="moreInformation()"></i>
      </strong>
      <p>
        Crie o campeão perfeito no nosso aplicativo baseado em League of Legends! Selecione habilidades para os comandos
        Q, W, E e R, montando sua combinação ideal. Compartilhe nas redes sociais e mostre sua criação única. Desperte
        seu
        talento estratégico e faça história no mundo de League of Legends!
      </p>
    </label>

    <div>
      <i class="fa-brands fa-github" style="font-size: 1rem" (click)="goTo('https://github.com/hnunezz')"></i>
      <i class="fa-brands fa-linkedin" style="font-size: 1rem" (click)="goTo('https://www.linkedin.com/in/henrique-nunes-de-almeida-ba897a1aa/')"></i>
      <i class="fa-brands fa-instagram" style="font-size: 1rem" (click)="goTo('https://www.instagram.com/hnunes0/')"></i>
    </div>
  </aside>

  <aside class="right">
    <label>
      <p>feito por</p>
      <strong>Henrique Nunes</strong>
    </label>
  </aside>
</footer>
<div class="footer-help">
    <span> 2025 🇧🇷 </span>
    <span> Ultimate Champion Creator </span>
    <span class="click" (click)="goTo('https://github.com/hnunezz/UltimateChampionCreator-v2/issues/new')"> <i>Encontrou um bug?</i> </span>
  </div>
<!-- <p-dialog [(visible)]="moreInformation" [modal]="true" [style]="{width: '90%'}" styleClass='information-modal' [maximizable]="true"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header"> <strong>Ultimate Champion Creator</strong> </ng-template>

</p-dialog> -->
