main {
  align-items: center;
  width: 100vw;
  height: 100vh;

  header {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 8px;
    padding-right: 30px;
  }

  img {
    object-fit: contain;
    height: 70%;
    width: 90%;
  }
}
.btn-share {
  display: flex;
  // flex-direction: column;
  gap: 16px;
}

.btn {
  position: relative;
  padding: 1px 20px;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 50px;
  width: 140px;

  &.copy {
    transition: ease-out 0.3s;
    border: 1px solid #0bc6e3;
    background-color: #0bc6e3;
    color: black !important;
  }

  &.download {
    transition: ease-out 0.3s;
    border: 1px solid #c89b3c;
    background-color: #c89b3c;
    color: black !important;
  }

  span {
    margin-left: 3px;
    white-space: nowrap;
  }

  &:hover {
    transition: ease 0.3s;

    &.download {
      color: white !important;
      background-color: transparent !important;
    }
    &.copy {
      transition: ease 0.3s;
      color: white !important;
      background-color: transparent !important;
    }
    // opacity: 0.8;
  }
}


