main {
  align-items: center;
  width: 100vw;
  height: 100vh;

  header {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
  }

  img {
    object-fit: contain;
    height: 70%;
    width: 90%;
  }
}
