:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

p-dialog {
  .p-dialog {
    .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
      background-color: #091428;
    }

    &.p-dynamic-dialog {
      max-height: 100% !important;
    }
  }

  .p-dialog {
    &.information-modal {
      .p-dialog-content,
      .p-dialog-header {
        label {
          display: flex;
          flex-direction: column;
          gap: 16px;

          p {
            font-family: "Inter", sans-serif;
            color: white;
          }
        }

        strong {
          font-family: "Inter", sans-serif;
          color: white;
          font-size: 32px;
        }
      }
    }
  }
}

.initial-heigh-modal {
  max-height: 100% !important;
}

@media  (max-width: 480px) {
  .initial-heigh-modal {
    max-height: 100% !important;
  }
}
