span.home-title {
  font-style: italic;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  white-space: nowrap;
  text-transform: uppercase;

  &:first-child {
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    white-space: break-spaces;
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #091428;
  margin: 5em 146px;
  padding: 0;
}

//? Media Query
@media (max-width: 750px) {
  figure {
    img {
      aspect-ratio: 1/1 !important;
      object-fit: fill !important;
    }

    label {
      span {
        &:first-child {
          font-size: 1rem !important;
        }
      }
    }
  }
  .gradient-container {
    background: linear-gradient(
      180deg,
      rgba(1, 10, 19, 0) 0%,
      #010a13 60%
    ) !important;
    top: -228px !important;
  }
  div.champion-spell-content {
    flex-direction: column !important;
    align-items: center !important;

    hr {
      height: 0px !important;
      width: 97px !important;
    }

    div.spell-keys {
      display: grid !important;
      grid-auto-flow: row dense;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 100px 100px;
    }
  }

  div.champion-spell-list {
    width: 90% !important;
  }
}

@media (min-width: 751px) and (max-width: 1350px) {
  figure {
    img {
      aspect-ratio: 1/1 !important;
      object-fit: fill !important;
    }

    label {
      span {
        &:first-child {
          font-size: 1rem !important;
        }
      }
    }
  }
  .gradient-container {
    background: linear-gradient(
      180deg,
      rgba(1, 10, 19, 0) 0%,
      #010a13 60%
    ) !important;
    top: -228px !important;
  }
  div.champion-spell-content {
    flex-direction: column !important;
    align-items: center !important;

    hr {
      height: 0px !important;
      width: 97px !important;
    }

    div.spell-keys {
      display: grid !important;
      grid-auto-flow: row dense;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 109px 300px !important;
    }
  }

  div.champion-spell-list {
    width: 90% !important;
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: hsl(200deg,100%,4%);
}

.square {
  width: 30px;
  height: 30px;
  rotate: 45deg;
  border: solid goldenrod 2px;
  animation: jitter 1.5s ease-in-out infinite;
  background-color: hsl(200deg,100%,4%);
}

.circle {
  width: 60px;
  height: 60px;
  border: dashed goldenrod 2px;
  border-radius: 50%;
  animation: smooth 10s linear infinite;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.diamond {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: 0 -50%;

}

.diamond.small {
  width: 30px;
  height: 30px;
  stroke-dasharray: 100;
  stroke-width: 2px;
  animation: disappear-small 3s ease-in-out infinite;
}

.diamond.large {
  width: 60px;
  height: 60px;
  stroke-dasharray: 200;
  stroke-width: 0.25px;
  animation: disappear-large 3s ease-in-out infinite;
}

.path {
  stroke: goldenrod;
  fill: none;
}

.rotated {
  transform-origin: left;
  rotate: 180deg;
}

@keyframes jitter {
  0% {
    rotate: 45deg;
  }
  33% {
    rotate: 135deg;
  }
  100% {
    rotate: 135deg;
  }
}

@keyframes smooth {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes disappear-small {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

@keyframes disappear-large {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: -200;
  }
}


