@defer (when !loading) {
<main class="flex flex-col gap-[48px]">
  <figure class="relative h-[509px] bg-[rgb(19 19 19 / 79%)] bg-repeat-round bg-cover" [ngClass]="{'first-view': true}"
    [ngStyle]="{'background-image': 'url(' + urlBaseSplash+ultimateChampion.champion.id+'_0.jpg' + ')'}">
    <label class="absolute bottom-[62px] left-[20%] right-[20%] gap-[4px] z-1 flex flex-col items-center">
      <span class="home-title title"> {{ hasChampionSelected ? ultimateChampion.champion.title : 'Ultimate Champion Creator' }} </span>
      <span class="home-title"> {{ hasChampionSelected? ultimateChampion.champion.name : 'Bem-Vindo' }} </span>

      @if (!loading) {
      <ucc-button  styleClass="btn-primary" [label]="!hasChampionSelected ? 'SELECIONE UM CAMPEÃO' : 'TROCAR CAMPEÃO' " (onClick)="openChampionSelectDialog()"></ucc-button>
      }
    </label>
  </figure>

  <div class="spells-step">&nbsp;</div>
  <ucc-spells [spellsList]="spellsList" (spellsChange)="handleSpells($event)" />

  <hr>


  <ucc-share [ultimateChampion]="ultimateChampion" [hasChampionSelected]="hasChampionSelected" />

  <ucc-footer />

</main>
}@placeholder {
<div class='container'>
  <svg class='diamond small' viewBox="0 0 30 30">
    <path class='path' d="M1.56502 15L15 1.56502L28.4351 15L15 28.4351L1.56502 15Z"/>
  </svg>
  <svg class='diamond small rotated' viewBox="0 0 30 30">
    <path class='path' d="M1.56502 15L15 1.56502L28.4351 15L15 28.4351L1.56502 15Z"/>
  </svg>
  <div class='square centered'></div>
  <svg class='diamond large' viewBox="0 0 58 58">
    <path class='path' d="M1.42293 29L29 1.42293L56.5771 29L29 56.5771L1.42293 29Z"/>
  </svg>
  <svg class='diamond large rotated' viewBox="0 0 58 58">
    <path class='path' d="M1.42293 29L29 1.42293L56.5771 29L29 56.5771L1.42293 29Z"/>
  </svg>

  <div class='circle centered'></div>
  <!-- <small>Carregando...</small> -->
</div>
}

<!--!TODO LOGO-->
