span.share-title {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  font-family: Caudex;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 125%;

  &:first-child {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;

    strong {
      color: #0bc6e3;
      font-size: 32px;
      font-style: normal;
    }
  }

  &:last-child {
    text-transform: uppercase;
  }
}

.champion-spell-details {
  width: calc(100% - 60px);
  padding: 20px 30px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  figure {
    height: 60px;
    width: 60px;
    position: unset;
    padding-top: 6px;

    > img {
      height: 60px;
      width: 60px;
      border-radius: 100px;
    }
  }

  div.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    label {
      display: flex;
      gap: 24px;
      align-items: center;
      cursor: pointer;

      span {
        font-family: "Caudex", serif;

        font-style: normal;
        font-size: 24px;
        color: white;

        &.champion-name {
          font-size: 26px;
          font-weight: 700;
          color: #c89b3c;
        }
      }
    }

    span.spell-description {
      font-family: "Caudex", serif;
      transition: ease-out 0.3s;
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: white;
    }
  }

  &.active {
    transition: ease 0.3s;
    background-color: rgba(65, 71, 78, 0.5);
  }

  &.noData {
    min-height: 80px;
  }
}

ucc-button {
  padding: 40px 0px;
}
@media (max-width: 1000px) {
  main {
    section {
      width: 90%;
    }
  }
}
@media (max-width: 680px) {

  label {
    flex-direction: column;
    align-items: baseline !important;

    .share-title {
      font-size: 14px;
      strong {
        font-size: 16px !important;
      }

      &:last-child {
        font-size: 22px;
      }
    }
  }

  .details {
    label {
      gap: 0px !important ;
    }
  }
}
