<h1 class="text-[#c89b3c] text-center text-[38px] font-bold italic pb-[64px]"> Compartilhe seu Campeão </h1>

<main class="flex flex-col justify-center items-center gap-[32px]">
  <div class="nick-section flex flex-col gap-2 w-[50%]">
    <span class="text-[#c89b3c] text-center text-[16px] font-bold italic text-start"> Seu nick: </span>
    <ucc-input placeholder="Seu nick aqui" (modelChange)="handleNick($event)" [(model)]="nick" />
  </div>

  <section id="capture" class="w-[50%] bg-[#091428] rounded-sm flex flex-col" style="border: 1px solid #c89b3c;">
    <ul>
      @if (hasChampionSelected()) {
      <img class="aspect-2/1 object-fill w-full" [src]="ultimateChampion().champion.image.base64"
        [alt]="ultimateChampion().champion.name" loading="lazy">
      }
      @else {
      <div class="h-[352px] bg-[#010a133b]"></div>
      }

      <li class="w-full h-[49px] relative">
        <div class="w-full h-full absolute -top-[47px]"
          style="background: linear-gradient(180deg,rgba(1, 10, 19, 0) 0%,#091428 80%);">
          <label class="flex px-[30px] justify-between">
            @if (hasChampionSelected()) {
            <span class="share-title">
              O Campeão Perfeito de
              <strong>{{ nick === '' ? '- - -' : nick}}</strong>
            </span>
            }
            @else {
            <span class="share-title">
              Nenhum Campeão Selecionado!
              <strong> - - - </strong>
            </span>
            }
            <span class="share-title">{{hasChampionSelected() ? ultimateChampion().champion.name : ''}}</span>
          </label>
        </div>
      </li>

      @if (ultimateChampion().spells) {
      <li class="champion-spell-details">
        <strong class="text-white w-[10px]">P</strong>

        <figure>
          <img loading="lazy" width="60" height="60" [ngSrc]="!hasP ? 'assets/img/no-selected.png' : ultimateChampion().spells['P'].image.base64"
            [alt]="!hasP ? '?' : ultimateChampion().spells['P']?.championName">
        </figure>

        <div class="details">
          <label>
            <span class="champion-name"> {{ !hasP ? '?' : ultimateChampion().spells['P']?.championName }} </span>
            <span class="spell-name"> {{ !hasP ? '?' : ultimateChampion().spells['P']?.name}} </span>
          </label>

        </div>
      </li>
      <li class="champion-spell-details">
        <strong class="text-white w-[10px]">Q</strong>

        <figure>
          <img loading="lazy" width="60" height="60" [ngSrc]="!hasQ ? 'assets/img/no-selected.png' : ultimateChampion().spells['Q'].image.base64"
            [alt]="!hasQ ? '?' : ultimateChampion().spells['Q']?.championName">
        </figure>

        <div class="details">
          <label>
            <span class="champion-name"> {{ !hasQ ? '?' : ultimateChampion().spells['Q']?.championName }} </span>
            <span class="spell-name"> {{ !hasQ ? '?' : ultimateChampion().spells['Q']?.name}} </span>
          </label>

        </div>
      </li>
      <li class="champion-spell-details">
        <strong class="text-white w-[10px]">W</strong>

        <figure>
          <img loading="lazy"  width="60" height="60" [ngSrc]="!hasW ? 'assets/img/no-selected.png' : ultimateChampion().spells['W'].image.base64"
            [alt]="!hasW ? '?' : ultimateChampion().spells['W']?.championName">
        </figure>

        <div class="details">
          <label>
            <span class="champion-name"> {{ !hasW ? '?' : ultimateChampion().spells['W']?.championName }} </span>
            <span class="spell-name"> {{ !hasW ? '?' : ultimateChampion().spells['W']?.name}} </span>
          </label>

        </div>
      </li>
      <li class="champion-spell-details">
        <strong class="text-white w-[10px]">E</strong>

        <figure>
          <img loading="lazy" width="60" height="60" [ngSrc]="!hasE ? 'assets/img/no-selected.png' : ultimateChampion().spells['E'].image.base64"
            [alt]="!hasE ? '?' : ultimateChampion().spells['E']?.championName">
        </figure>

        <div class="details">
          <label>
            <span class="champion-name"> {{ !hasE ? '?' : ultimateChampion().spells['E']?.championName }} </span>
            <span class="spell-name"> {{ !hasE ? '?' : ultimateChampion().spells['E']?.name}} </span>
          </label>

        </div>
      </li>
      <li class="champion-spell-details">
        <strong class="text-white w-[10px]">R</strong>
        <figure>
          <img loading="lazy" width="60" height="60" [ngSrc]="!hasR ? 'assets/img/no-selected.png' : ultimateChampion().spells['R'].image.base64"
            [alt]="!hasR ? '?' : ultimateChampion().spells['R']?.championName">
        </figure>

        <div class="details">
          <label>
            <span class="champion-name"> {{ !hasR ? '?' : ultimateChampion().spells['R']?.championName }} </span>
            <span class="spell-name"> {{ !hasR ? '?' : ultimateChampion().spells['R']?.name}} </span>
          </label>

        </div>
      </li>
      }
    </ul>

    <div style="height: 50px;  display: flex; align-items: center; justify-content: center;">
      <strong style="color: #0bc6e3;font-weight: 900;font-size: 18px;">ultimate-champion-creator.vercel.app/</strong>
    </div>
  </section>

  <div class="share-button">
    <ucc-button styleClass="btn-primary" label="COMPARTILHE" (onClick)="imageView()"
      [disable]="enableToShare || nick == ''" [loading]="loading"></ucc-button>
  </div>

  <div style="display: none;">
    <img id="YourImage" src="{{capturedImage}}">
  </div>
</main>
